apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "inferadb-control.configMapName" . }}
  labels:
    {{- include "inferadb-control.labels" . | nindent 4 }}
data:
  INFERADB__CONTROL__LISTEN: {{ .Values.config.listen | quote }}
  INFERADB__CONTROL__LOG_LEVEL: {{ .Values.config.logLevel | quote }}
  INFERADB__CONTROL__LOG_FORMAT: {{ .Values.config.logFormat | quote }}
  INFERADB__CONTROL__STORAGE: {{ .Values.config.storage | quote }}
  INFERADB__CONTROL__KEY_FILE: {{ .Values.config.keyFile | quote }}
  INFERADB__CONTROL__FRONTEND_URL: {{ .Values.config.frontendUrl | quote }}
  {{- if .Values.config.ledgerEndpoint }}
  INFERADB__CONTROL__LEDGER_ENDPOINT: {{ .Values.config.ledgerEndpoint | quote }}
  {{- end }}
  {{- if .Values.config.ledgerClientId }}
  INFERADB__CONTROL__LEDGER_CLIENT_ID: {{ .Values.config.ledgerClientId | quote }}
  {{- end }}
  {{- if .Values.config.ledgerNamespaceId }}
  INFERADB__CONTROL__LEDGER_NAMESPACE_ID: {{ .Values.config.ledgerNamespaceId | quote }}
  {{- end }}
  {{- if .Values.config.ledgerVaultId }}
  INFERADB__CONTROL__LEDGER_VAULT_ID: {{ .Values.config.ledgerVaultId | quote }}
  {{- end }}
  {{- if .Values.config.emailHost }}
  INFERADB__CONTROL__EMAIL_HOST: {{ .Values.config.emailHost | quote }}
  INFERADB__CONTROL__EMAIL_PORT: {{ .Values.config.emailPort | quote }}
  {{- if .Values.config.emailUsername }}
  INFERADB__CONTROL__EMAIL_USERNAME: {{ .Values.config.emailUsername | quote }}
  {{- end }}
  INFERADB__CONTROL__EMAIL_FROM_ADDRESS: {{ .Values.config.emailFromAddress | quote }}
  INFERADB__CONTROL__EMAIL_FROM_NAME: {{ .Values.config.emailFromName | quote }}
  INFERADB__CONTROL__EMAIL_INSECURE: {{ .Values.config.emailInsecure | quote }}
  {{- end }}
