apiVersion: v1
kind: Service
metadata:
  name: {{ include "inferadb-control.fullname" . }}
  labels:
    {{- include "inferadb-control.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.sessionAffinity }}
  sessionAffinity: {{ .Values.service.sessionAffinity }}
  {{- end }}
  ports:
    - port: {{ .Values.service.httpPort }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.grpcPort }}
      targetPort: grpc
      protocol: TCP
      name: grpc
    - port: {{ .Values.service.meshPort }}
      targetPort: mesh
      protocol: TCP
      name: mesh
  selector:
    {{- include "inferadb-control.selectorLabels" . | nindent 4 }}
